* {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    overflow: hidden;
    display: grid;
    color: white;
    background: black;
  }

  body {
    cursor: none;
  }  
  
 body {
    background: repeating-radial-gradient(lightblue, transparent 70px);
    background: lightblue;
 }


 
 body, html {
  background: blanchedalmond;
}